{
    "parser": "babel-eslint",
    "extends": "airbnb",
    "rules": {
        "max-len": [1, 80, 2, { "ignoreComments": true}],
        "react/jsx-filename-extension": 0,
        "comma-dangle": ["error", {
            "arrays": "always-multiline",
            "objects": "always-multiline",
            "imports": "always-multiline",
            "exports": "always-multiline",
            "functions": "ignore" 
        }]
    },
    "globals": {
        "document": false
    }
}